<p id="notice"><%= notice %></p>

<h1><%= @album.name %> by <%= @album.artist.name %></h1>
<h3>Songs on this album:</h3>

<ul>
	<% @album.songs.each do |song| %>
		<li><%= link_to song.name, song %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
